/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  font-family: "Poppins";
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  margin: 0;
  background-color: #F9F9FA;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header__block__top {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 9px;
  gap: 30px;
}

.header_top_addres {
  font-weight: 400;
  font-size: 10px;
  color: #1a1a1a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_top_addres::before {
  content: "";
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../img/map_icon.svg);
  display: inline-block;
  margin-right: 10px;
}

.header_top_phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 10px;
  color: #1a1a1a;
}
.header_top_phone::before {
  content: "";
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../img/phone_icon.svg);
  display: inline-block;
  margin-right: 10px;
}

.header_block_link {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.active::before {
  width: 11px;
  height: 11px;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/header_img.svg);
  display: inline-block;
  margin-right: 7px;
}

.header__block__logo {
  background-color: #e47500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_block_list {
  display: none;
}

.header_block_btn {
  padding: 10px 28px 11px 27px;
  font-weight: 400;
  font-size: 13px;
  color: #dc7000;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
}

.header_logo_img {
  padding-top: 16px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .header_block_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
  .header_block_btn {
    display: none;
  }
  .header__block__top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
@media screen and (min-width: 1000px) {
  .header_block_btn {
    display: inline-block;
  }
}
.project {
  padding-top: 84px;
  padding-bottom: 62px;
}

.project__block_content {
  text-align: center;
}

.project__block__home {
  font-weight: 400;
  font-size: 16px;
  line-height: 209%;
  color: #848484;
}

.project__block__contact {
  color: #e47500;
  font-weight: 400;
  font-size: 16px;
  line-height: 209%;
}

.project_title {
  font-weight: 600;
  font-size: 33px;
  line-height: 180%;
  color: #222;
  margin-top: 15px;
}

.project_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #898989;
  margin-top: 13px;
}

.project__img {
  padding-top: 93px;
}

.list_item_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 189%;
  color: #000;
}

.project__block__list {
  padding-bottom: 147px;
}

.list__item_social {
  max-width: 300px;
}

.list__item__tel {
  max-width: 300px;
}

.list__item__text {
  max-width: 350px;
}

.list_item_tel {
  gap: 15px;
  font-weight: 300;
  font-size: 20px;
  color: #333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list_item_tel::before {
  width: 30px;
  height: 30px;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/project_phone_img.svg);
  display: inline-block;
}

.list_item_text {
  font-weight: 300;
  font-size: 20px;
  color: #333;
}
.list_item_text::before {
  content: "";
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../../img/project_location_img.svg);
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .project__block__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.hello {
  height: 858px;
  padding-top: 54px;
  margin-bottom: 63px;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-image: url(../img/hello_bgr_img.svg), url(../img/hello_bgr_img_2.svg);
  background-position: top right, bottom left;
}

.hello__block {
  text-align: center;
}

.hello__title {
  padding-top: 54px;
  font-weight: 400;
  font-size: 30px;
  line-height: 189%;
  color: #000;
}

.hello_text {
  font-weight: 500;
  font-size: 13px;
  line-height: 189%;
  padding-bottom: 79px;
  color: #777;
}

.input_field input {
  border: 0.6px solid #cecece;
  border-radius: 9px;
  width: 322px;
  height: 56px;
  background-color: #fff;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.input_field input:hover {
  background-color: rgb(240, 206, 161);
}

.email input {
  width: 680px;
}

.message input {
  width: 680px;
  height: 250px;
}

.input_field {
  margin-bottom: 20px;
}

.naming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 27px;
}

.address {
  border: 0.6px solid #cecece;
  border-radius: 9px;
  width: 671px;
  height: 56px;
  background-color: #fff;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.address:hover {
  background-color: rgb(240, 206, 161);
}

.naming {
  font-weight: 500;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: -0.02em;
  color: #4f4f4f;
}

.name_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_btn {
  margin-top: 61px;
  font-weight: 400;
  font-size: 16px;
  line-height: 204%;
  color: #fff;
  padding: 10px 48px;
  border-radius: 10px;
  background-color: #dc7000;
  border: none;
  margin-left: 470px;
}

.main__footer {
  background-color: #1b1b1b;
}

.footer__block {
  padding-top: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 78px;
}

.footer_block_logo_text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 25px;
}

.footer_block_logo {
  width: 300px;
}

.footer_logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 155%;
  color: #fff;
}

.footer_logo_img {
  margin-bottom: 20px;
}

.footer_block_link {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.foter_list_link {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin-bottom: 15px;
}

.footer_block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_contact_us {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin-bottom: 20px;
}

.footer_text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 282px;
  margin-bottom: 11px;
}

.footer_tel {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 11px;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}

.line {
  border: 0.8px solid #d2d2d2;
  width: 1440px;
  height: 0px;
  display: inline-block;
}

.footer_bottom_text {
  font-weight: 400;
  font-size: 13px;
  line-height: 191%;
  color: #fff;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 29px;
}/*# sourceMappingURL=main.css.map */