
.header__block__top{
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 9px;
  gap: 30px;
}
.header_top_addres{
  font-weight: 400;
  font-size: 10px;
  color: #1a1a1a;
  align-items:center;
  &::before{
    content: "";
width: 15px;
height: 15px;
background-repeat: no-repeat;
background-image: url(../img/map_icon.svg);
display: inline-block;
margin-right: 10px;
  }
}
.header_top_phone{
align-items:center;
  font-weight: 400;
  font-size: 10px;
  color: #1a1a1a;
  &::before{
    content: "";
width: 15px;
height: 15px;
background-repeat: no-repeat;
background-image: url(../img/phone_icon.svg);
display: inline-block;
margin-right: 10px;
}
}
.header_block_link{
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.active::before {
  width: 11px;
  height:11px;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/header_img.svg);
  display: inline-block;
  margin-right: 7px;}
.header__block__logo{
  background-color: #e47500;
display: flex;
align-items:center;
gap: 150px;
justify-content: center;
}

.header_block_list{
  display: none;
}
.header_block_btn{
 padding: 10px 28px 11px 27px;
  font-weight: 400;
  font-size: 13px;
  color: #dc7000;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
}
.header_logo_img{
  padding-top: 16px;
  padding-bottom: 15px;
}
@media screen and (min-width:768px) {
.header_block_list{
  display: flex;
  gap: 50px;
}
.header_block_btn{
  display: none;
}

.header__block__top{
  justify-content: end;
}
}
@media screen and (min-width:1000px) {
 .header_block_btn{
  display: inline-block;
 }
}
